//-
//- fluentd-parser.pug
//-
//- Copyright (c) 2016-2017 Junpei Kawamoto
//-
//- This program is free software: you can redistribute it and/or modify
//- it under the terms of the GNU General Public License as published by
//- the Free Software Foundation, either version 3 of the License, or
//- (at your option) any later version.
//-
//- This program is distributed in the hope that it will be useful,
//- but WITHOUT ANY WARRANTY; without even the implied warranty of
//- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//- GNU General Public License for more details.
//-
//- You should have received a copy of the GNU General Public License
//- along with this program.  If not, see <http://www.gnu.org/licenses/>.
script(type="text/javascript")
    :babel(presets=["es2015"])
        RED.nodes.registerType("fluentd-parser", {
            category: "function",
            color: "#a6bbcf",
            defaults: {
                name: { value: "" }
            },
            inputs: 1,
            outputs: 1,
            icon: "allow-in.png",
            label() {
                return this.name || "Fluentd Log Parser";
            },
            labelStyle(){
                return this.name ? "node_label_italic" : "";
            }
        });

script(type="text/x-red", data-template-name="fluentd-parser")
    .form-row
        label(for="node-input-name")
            <i class="icon-tag"></i> Name
        input#node-input-name(type="text", placeholder="Name")

script(type="text/x-red", data-help-name="fluentd-parser")
    :markdown-it
        A Node-RED node to parse logs posted from [Fluentd](http://www.fluentd.org/).

        A payload of a message posted from Fluentd consists of log property.
        This node replaces payload property as the log property
        so that other nodes easily access to the log data.

        If the log property is a JSON string, this node decodes it to an object.

        If the message is originally from a docker container,
        the payload of the message has container\_name property.
        This node sets the container\_name as the topic of the message.
