//- 
//- fplug-log-splitter.jade
//- 
//- Copyright (c) 2016 Junpei Kawamoto
//- 
//- This program is free software: you can redistribute it and/or modify
//- it under the terms of the GNU General Public License as published by
//- the Free Software Foundation, either version 3 of the License, or
//- (at your option) any later version.
//- 
//- This program is distributed in the hope that it will be useful,
//- but WITHOUT ANY WARRANTY; without even the implied warranty of
//- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//- GNU General Public License for more details.
//- 
//- You should have received a copy of the GNU General Public License
//- along with this program.  If not, see <http://www.gnu.org/licenses/>.
script(type="text/javascript").
  RED.nodes.registerType("fplug-splitter",{
      category: "function",
      color: "#a6bbcf",
      defaults: {
        name: {value:""}
      },
      inputs: 1,
      outputs: 4,
      icon: "arrow-in.png",
      label: function() {
          return this.name || "FPlug Log Splitter";
      }
  });

script(type="text/x-red", data-template-name="fplug-splitter")
  .form-row
    label(for="node-input-name")
      <i class="icon-tag"></i> Name
    input#node-input-name(type="text", placeholder="Name")

script(type="text/x-red", data-help-name="fplug-splitter")
  :markdown
    A node that splits log from FPlug to four streams.
    
    It has four outputs;

      1. illuminance
      2. temperature
      3. power
      4. humidity
      
    The payload of each message contains a value and a time 
    when the value observed.
